<% if @wishes.count > 0 %>
  <h4>Wishlist</h4>
  <% @wishes.each do |wish| %>
    <ul class="wrapper" id="wish">
      <li class="photo-container">
        <%= image_tag wish.venue_photo, class: "img-rounded venue", width: 170 %>
      </li>
      <span><%= link_to "X", user_wish_path(current_user.id, wish), method: :delete, data: { confirm: "Deseja remover esse sonho?" }, class: "btn btn-danger btn-xs" %> <%= truncate(wish.venue_name, length: 20) %></span>
    </ul>
  <% end %>
<% end %>

<h4>Recent</h4>
<% @checkins.each do |id, checkin| %>
  <ul class="wrapper">
    <li class="photo-container">
      <%= image_tag checkin[:user_photo], class: "img-circle user", width: 50 %>
      <%= image_tag checkin[:venue_photo], class: "img-rounded venue", width: 170 %>
    </li>
    <span><%= link_to "+", user_wishes_path(wish: { venue_name: checkin[:venue_name], venue_photo: checkin[:venue_photo], user_id: current_user.id}), method: :post, class: "btn btn-success btn-xs" %> <%= truncate(checkin[:venue_name], length: 20) %></span>
  </ul>
<% end %>
